.ks-table-entry-header,
    .ks-table-entry-footer{
        display: flex;
        justify-content: space-between;
    }
    .ks-table-entry-header{
        padding-top: 15px;
    }
.card-body table tbody tr td .ks-mw-250{
    max-width: 250px;
}
.ks-mw-250{
    max-width: 250px;
}
.image-edit{
    position: relative;
}
.image-edit .fa-times-circle{
    position:absolute;
    right: 5px;
    top: 15px;
}
/*******************
 ** 2. Form Data **
 *******************/
 .kt_preview_image_container{
    max-width: 250px;
    position: relative;
}
.kt_preview_image_close{
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    vertical-align: middle;
    right: 5px;
    top: 5px;
}
.kt_preview_image_close .fas{
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*margin-top: -23px;*/
    /*color: #ffffff;*/
    /*margin-left: 5px;*/
    position: absolute;
    left: 24%;
    top: 20%;
}

/** rating **/
div.stars {
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 20px;
    color:
        #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: 'f005';
    color:
        #e74c3c;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color:
        #e74c3c;
    text-shadow: 0 0 5px
    #7f8c8d;
}

input.star-1:checked ~ label.star:before { color:
    #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: 'f006';
    font-family: Font Awesome-free;
}


.horline > li:not(:last-child):after {
    content: " |";
}
.horline > li {
    font-weight: bold;
    color:
        #ff7e1a;

}
.ks-dash-box{
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    /*text-align: center;*/
}
.ks-dash-box .d-flex{
    gap: 10px;
}
.ks-dash-box .mdi{
    font-size: 10rem;
}
.ks-dash-box .right-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ks-dash-box .right-col .stat-title{
    font-size: 2rem;
}
.ks-dash-box .right-col .stat-count{
    font-size: 3rem;
    font-weight: bold;
}
/** end rating **/
/*!** rating **!
body {*/
/*                  background-color: #f7f6f6*/
/*              }*/

/*.rating-card {*/
/*    width: 350px;*/
/*    border: none;*/
/*    box-shadow: 5px 6px 6px 2px #e9ecef;*/
/*    border-radius: 12px*/
/*}*/

/*.circle-image img {*/
/*    border: 6px solid #fff;*/
/*    border-radius: 100%;*/
/*    padding: 0px;*/
/*    top: -28px;*/
/*    position: relative;*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    border-radius: 100%;*/
/*    z-index: 1;*/
/*    background: #e7d184;*/
/*    cursor: pointer*/
/*}*/

/*.dot {*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    background-color: blue;*/
/*    border-radius: 50%;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    border: 3px solid #fff;*/
/*    top: -48px;*/
/*    left: 186px;*/
/*    z-index: 1000*/
/*}*/

/*.name {*/
/*    margin-top: -21px;*/
/*    font-size: 18px*/
/*}*/

/*.fw-500 {*/
/*    font-weight: 500 !important*/
/*}*/

/*.start {*/
/*    color: green*/
/*}*/

/*.stop {*/
/*    color: red*/
/*}*/

/*.rate {*/
/*    border-bottom-right-radius: 12px;*/
/*    border-bottom-left-radius: 12px*/
/*}*/

/*.rating {*/
/*    display: flex;*/
/*    flex-direction: row-reverse;*/
/*    justify-content: center*/
/*}*/

/*.rating>input {*/
/*    display: none*/
/*}*/

/*.rating>label {*/
/*    position: relative;*/
/*    width: 1em;*/
/*    font-size: 30px;*/
/*    font-weight: 300;*/
/*    color: #FFD600;*/
/*    cursor: pointer*/
/*}*/

/*.rating>label::before {*/
/*    content: "\2605";*/
/*    position: absolute;*/
/*    opacity: 0*/
/*}*/

/*.rating>label:hover:before,*/
/*.rating>label:hover~label:before {*/
/*    opacity: 1 !important*/
/*}*/

/*.rating>input:checked~label:before {*/
/*    opacity: 1*/
/*}*/

/*.rating:hover>input:checked~label:before {*/
/*    opacity: 0.4*/
/*}*/

/*.buttons {*/
/*    top: 36px;*/
/*    position: relative*/
/*}*/

/*.rating-submit {*/
/*    border-radius: 15px;*/
/*    color: #fff;*/
/*    height: 49px*/
/*}*/

/*.rating-submit:hover {*/
/*    color: #fff*/
/*}*/
/** end rating **/
